<h1 style=" text-align: center">CHOOSE FRIEND   </h1>
<section id="as_team">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-12">
                <div class="card al-team-box mt-3 mb-3">
                    <div class="al-team-header">
                        <img class="al-team-img" src="https://i.pinimg.com/564x/e6/57/55/e65755e73d8085e30aedfa21fde07f1b.jpg"></div>
                    <div class="card-body">
                        <h5 class="card-title">ĐỨC CẢNH</h5>
                        <h6 class="card-subtitle mb-3 text-muted font-weight-normal">MOBILE DEVELOPER</h6>
                        <a href="#" class="card-link"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="card-link"><i class="fa fa-dribbble"></i></a>
                        <a href="#" class="card-link"><i class="fa fa-youtube"></i></a>
                        <a href="#" class="card-link"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="card-link"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="card al-team-box mt-3 mb-3">
                    <div class="al-team-header">
                        <img class="al-team-img" src="https://images-na.ssl-images-amazon.com/images/I/41fTJlAVMRL.png"></div>
                    <div class="card-body">
                        <h5 class="card-title">WHAT'S MY NAME </h5>
                        <h6 class="card-subtitle mb-3 text-muted font-weight-normal">NOT</h6>
                        <a href="#" class="card-link"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="card-link"><i class="fa fa-dribbble"></i></a>
                        <a href="#" class="card-link"><i class="fa fa-youtube"></i></a>
                        <a href="#" class="card-link"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="card-link"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="card al-team-box mt-3 mb-3">
                    <div class="al-team-header"><img class="al-team-img" src="https://pbs.twimg.com/profile_images/948404562574143488/m3scvvpH_400x400.jpg"></div>
                    <div class="card-body">
                        <h5 class="card-title">KWON JI YONG</h5>
                        <h6 class="card-subtitle mb-3 text-muted font-weight-normal">PRODUCER</h6>
                        <a href="#" class="card-link"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="card-link"><i class="fa fa-dribbble"></i></a>
                        <a href="#" class="card-link"><i class="fa fa-youtube"></i></a>
                        <a href="#" class="card-link"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="card-link"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="card al-team-box mt-3 mb-3">
                    <div class="al-team-header"> <img class="al-team-img" src="http://pm1.narvii.com/6949/5e08972649dfeb8f75323bad50b715629ce45e32r1-768-768v2_uhq.jpg"></div>
                    <div class="card-body">
                        <h5 class="card-title">KIM NAM JOON</h5>
                        <h6 class="card-subtitle mb-3 text-muted font-weight-normal">SINGER</h6>
                        <a href="#" class="card-link"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="card-link"><i class="fa fa-dribbble"></i></a>
                        <a href="#" class="card-link"><i class="fa fa-youtube"></i></a>
                        <a href="#" class="card-link"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="card-link"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
